<div class="container content">
  <div class="page-header">
    <div class="container">
      <h1>ruteo Simple</h1>
      <div class="navLinks">
        <a [routerLink]="['/home']">Home</a>
        <a [routerLink]="['/destino']">Destino</a>
      </div>
    </div>
  </div>
  <div class="row">
    <h1>
      {{title}}
    </h1>
  </div>
  <div>

    <router-outlet></router-outlet>
  </div>
</div>
<hr class="mb-5">
fecha: {{time| async}}